
.competencias {
    background: var(--cor-de-fundo);
    width: 100%;
    text-align: center;
}

.competencias__título {
    font-family: var(--fonte-poppins);
    font-weight: 800;
    font-size: 35px;
    padding: 2em 0 0 0;
}

.competencias__elementos {
    display: flex;
    justify-content: center;
    padding-bottom: 4em;
    gap: 4em;
}

.logos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
}

.efeito {
    border-radius: 10px;
    background-position: center;
    background-image: url("../img/Experience.png");
}

.linha-1 img {
    width: 100px;
    background-image: url("../img/Experience.png");
    padding: 10px;
    background-position: center;
    border-radius: 10px;
}   

.linha-2 img {
    background-image: url("../img/Experience.png");
    padding: 10px;
    background-position: center;
    border-radius: 10px;

}

.foguete model-viewer {
    width: 400px;
    height: 400px;

}

.linha-1 {
    display: flex;
    justify-content: center;
    gap: 2em;
}

.linha-2 {
    display: flex;
    justify-content: center;
    gap: 2em;
}

.linha-2__col1 img{
    height: 100px;
    width: 100px;

}

.linha-2__col2 img{
    height: 100px;
    width: 100px;

}


@media screen and (min-width: 320px) and (max-width: 480px) {

    .competencias__elementos {
        flex-direction: column;
        justify-content: center;
        gap: 0;
        padding-bottom: 0;
        box-sizing: border-box;
    }
    

    .foguete {
        margin: auto;
    }

    .linha-1, .linha-2 {
        gap: 1em;
    }

    .foguete model-viewer {
        width: 320px;
        height: 400px;
    }

    .competencias__título {

        padding: 2em 0;

    }


}

@media screen and (min-width: 481px) and (max-width: 1024px) {

    .competencias__elementos {
        flex-direction: column;
        justify-content: center;
        gap: 0;
        padding-bottom: 0;
    }


    .foguete {
        margin: auto;
    }

    .competencias__título {

        padding: 2em 0;

    }


}

